@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1280px) {
    section#login{
        width: 80vw;
    } 
    
    section#login>div#img{
        float: left;
        width: 30%;
        height: 100%;
        border-bottom-left-radius: 25px;
    }
    section#login>div#formu{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1080px){
    section#login{
        width: 1000px;
    } 
    
    section#login>div#img{
        float: right;
        width: 50%;
        height: 100%;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    section#login>div#formu{
        float: right;
        width: 50%;
    }
} 